main {
  //background: linear-gradient(white, yellow);
}

.padding_accueil {
  height: 100%;
  
  //background: linear-gradient(white, #EBEBEB);
}


/* ---------- ICONS AT THE TOP ---------- */

// Icon ajout d'amis
.add_friend_icon {
  position: absolute;

  font-size: 7vw;

  top: 5%;
  left: 5%;

  z-index: 10;

  color:black;
}


// Icon permettant d'accéder aux settings de l'application
.settings_icon {
  position: absolute;

  font-size: 7vw;

  top: 5%;
  right: 15%;

  z-index: 10;

  color: black;
}


// Icon affichant les notifications que l'on a reçues
.notification_icon {
  position: absolute;

  font-size: 7vw;

  top: 5%;
  right: 5%;

  z-index: 10;

  color: black;
}


.app_title {
  position: absolute;

  font-size: 4.9vw;

  top: 5%;
  left: 38%;
}


.padding_accueil {
  width: 100%;
  height: 100%;

  margin-top: 10%;

  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}


.div_title_smiley {
  width: 100%;

  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 5%;
  margin-bottom: 4vh;
}


// Titre "BONJOUR"
.bonjour_title {
  font-size: 5.6vw;

  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2%;
}


.smiley {
  font-size: 6vw;
}


.div_recharge {
  width: 100%;
 
  margin-bottom: 4vh;

  display: flex;
  align-items: center; 
}


.div_icon_nb_recharges {
  display: flex;
  align-items: center; 

  float: left;

  margin-right: 8%;
}


.icon_charges {
  font-size: 10vw;

  color: #FFE74E;
}


.nb_charges {
  font-size: 5.4vw;
}


.div_text_button_recharge {
  text-align: center;

  margin-right: 8%;

  float: left;
}


.text_recharge {
  font-size: 3.1vw;
  
  margin-right: 2%;
  margin-bottom: 5px;
  margin-top: 0;
}


.button_recharge {
  height: 5vw;
  width: 30vw;

  font-size: 3.5vw;

  border-radius: 25px;

  background-color: #87D7CA;
  color: white;
}


.help_recharge_icon {
  font-size: 8vw;

  float: left;
}


.div_title_button_premium {
  width: 100%;
  height: 8vw;

  display: flex;
  align-items: center; 

  margin-bottom: 3%;
}


.title_premium {
  font-size: 4.8vw;

  margin-bottom: 0;
  margin-top: 0;
  margin-right: 2%;
  margin-left: 0;

  float: left;
}


.button_premium {
  height: 5vw;
  width: 20vw;

  font-size: 3.5vw;

  border-radius: 25px;

  background-color: #87D7CA;
  color: white;

  float: left;
}


.text_premium {
  font-size: 4vw;

  margin-top: 0;
  margin-bottom: 4vh;

  text-align: justify;
}


.title_évènements_pop {
  font-size: 4.8vw;

  margin-top: 0;
  margin-bottom: 3.5%;
}


.title_mes_prochains_évènements {
  font-size: 4.8vw;

  margin-top: 0;
  margin-bottom: 3.5%;
}


/* ---------- EVENTS JOINED / CREATED ---------- */

// Div contenant un évèneemnt (rejoint ou créé)
.event_div {
  width: 100%;
  height: 10%;

  position: relative;
}


// Classe associée au texte "Évènements créés"
.events_created_text {
  font-size: 4.6vw;

  margin-bottom: 3%;
}


// Titre d'un évènement
.event_title {
  font-size: 4vw;

  position: absolute;

  top: 5%;
  left: 8%;
  right: 8%;

  color: white;
}


// Localisation d'un évènement
.event_location {
  font-size: 3.4vw;

  position: absolute;

  top: 40%;
  left: 8%;
  right: 8%;

  color: white;
}


// Date d'un évènement
.event_date {
  font-size: 3.6vw;

  position: absolute;

  top: 58%;
  left: 8%;
  right: 8%;

  color: white;
}


// Slider contenant les évènements créés 
.évènements_populaires_slider {
  margin-bottom: 5%;
}


.mes_prochains_évènements_slider {
  margin-bottom: 18%;
}


