ion-fab-button{
  --box-shadow: 0 0 0 5px;
  --background: #001944 ;
}

ion-tab-button, ion-tab-bar{
  background: #001944;
}

ion-icon{
  color: white;
}
ion-label{
  color: white;
}

