<ion-content>
  <div id="cover_img">
    <div id="event_name_and_location_div">
      <p id="event_name"><B>Sortie jogging trop cool <br> entre amis</B></p>
  
      <div id="location_div">
        <ion-icon name="location-sharp" id="location_icon"></ion-icon>
        <p id="location_text"><i>Marseille, Bouches-du-Rhône</i></p>
      </div>
    </div>

    <div id="icon_type_div">
      <ion-icon src="../../assets/icons/{{ type }}.svg" class="type_icon {{ type }}"></ion-icon>
    </div>
  </div>

  <!--<img src="../assets/images/running.png" id="cover_img" />-->
</ion-content>
