.close_modal {
    position: absolute;

    font-size: 5.2vh;

    top: 10px;
    right: 13px;

    color: #87D7CA;

    z-index: 1000;
}


.cover_img_div {
    width: 100%;

    position: relative;

    //border-bottom-right-radius: 45px;
    //border-bottom-left-radius: 45px;
}


.cover_img {
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}


.event_name_and_location_div {
    width: 100%;

    position: absolute;

    top: 10px;

    padding-left: 5%;
}


.event_name {
    font-size: 5.65vw;

    margin-bottom: 0;
}


.location_div {
    display: flex;
    align-items: center; 
}


.location_icon {
    float: left;

    margin-right: 1%;
}


.location_text {
    font-size: 4.3vw;
}


.div_event_text {
    width: 100%;

    padding-top: 6%;

    padding-left: 5%;
    padding-right: 5%;
}


.date_text {
    font-size: 3vh;
    
    margin-bottom: 1%;

    white-space: pre;
}


.places_restantes_text {
    font-size: 2.7vh;

    margin-top: 0;
}


.infos_event_text {
    font-size: 2.1vh;

    margin-bottom: 8%;
    margin-top: 0;
}


.join_event_div {
    width: 100%;
    height: 6%;

    position: absolute;

    bottom: 0;

    display: flex;
    align-items: center; 
    text-align: center;

    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}


.join_event_text {
    font-size: 5vw;

    margin: 0 auto;

    color: white;
}


.createur_text {
    font-size: 5vw;

    margin-top: 0;
    margin-bottom: 4%;
}


.creator_name {
    font-size: 2.4vh;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 23%;
}


.chat_icon {
    font-size: 10vw;

    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    left: 58%
}


.icon_type_div {
    width: 15vw;
    height: 15vw;

    position: absolute;

    display: flex;
    align-items: center; 

    margin: 0 auto;

    top: 90%;
    left: 5%;

    border-radius: 50px;

    box-shadow: 1px 1px 7px #c4c4c4;
}


.type_icon {
    font-size: 10vw;

    color: white;

    margin-left: auto;
    margin-right: auto;
}


.event_creator_div {
    width: 100%;
    height: 15vw;

    padding-left: 5%;

    position: relative;
}


img {
    max-width: none;
}


.creator_avatar {
    width: 15vw;
    height: 15vw;
}